*{
  font-family: arial;
  font-weight: normal;
}


body {
  background-color: #fcfcfc;
  background-blend-mode: darken;
}

h1{
  color:#25A079;
}

h2{
  color:#25A079;
}

h3{
  color:#25A079;
}

h4{
  color: #1f1f1f;
  margin-left: 2em;
}

.person-daten p{
  color: #1f1f1f;
  font-size: 12px;
  margin-left: 1em;
}

.main-nav-ul{
  list-style-type: none;
  border-style: none none solid;
  color:#3D4F49;
  width: 100%;
  border-color:#A8D6C6;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li1 a:hover {
 background-color:#cbe7dd;
}

li1 {
  float: left;
}

li1 a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #3D4F49;
}
/* Change the link color to #111 (black) on hover */

.active {
  background-color:#63b699;
}

.info-nav-ul{
  list-style-type: none;
  position: sticky;
  margin-right: 20px;
  padding: 0;
  margin-top: 0em;
  width: auto;
  background-color: #f1f1f1;
  float: left;
}

li a:hover {
 background-color:#ffc266;
}

li a {
  display: block;
  text-align: left;
  padding: 8px 10px;
  text-decoration: none;
  color: #3D4F49;
}

.info-inhalt {
  margin: 2em;
  padding: 10;
  position: static;
  height: 80%;
  width: 60%;
}

.info-inhalt p{
  font-size: 16px;
  display: block;
  margin-top: 0em;
  margin-bottom: 1em;
  margin-left: 50;
  margin-right: 10;
}

.daten-container{
  display: grid;
  height: auto;
  align-content: center;
  grid-template-columns: 12em 12em 40em;
  grid-gap: 10px;
}

.person-daten{
  height: auto;
  background-color: #ebc0ce;
  background-blend-mode: lighten;
  border-radius: 1em;
}

.person-daten select{
 width: 10em;
 margin-left: 1em;
 padding: 7px 14px;
 border: none;
 border-radius: 2px;
 background-color: #ffffff;
 margin-bottom: 1.5em;
}

input{
  margin-left: 1em;
  margin-bottom: 1em;
  width: 8em;
  height: 18px;
  color: #5e5e5e;
  border-style: solid;
  border-radius: 5px;
}

.zeit-daten{
  height: auto;
  width: 10em;
  margin-left: 1em;
  border: none;
  border-radius: 1em;
  background-color:#d9c3cb;
}


.zeit-daten p{
  font-size: 12px;
  margin-left: 1em;
}

.drinks-daten{
  height: auto;
  width: 35em;
  margin-left: 1em;
  border: none;
  border-radius: 1em;
  background-color:#f5e4ea;
}

.drinks-daten h4{
  margin-left: 13em;
}
