* {
  font-family: verdana;
}

body {
  background-color: #FCF5E8;
}

h1{
  color:#25A079;
  font-weight: normal;
}

h3{
  color:#25A079;
  font-weight: normal;
}

h4{
  color:orange;
  margin-top: 3em;
  margin-bottom: 0em;

}

.main-nav-ul{
  list-style-type: none;
  border-style: none none solid;
  color:#3D4F49;
  width: 100%;
  border-color:#A8D6C6;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li1 a:hover {
 background-color:#cbe7dd;
}

li1 {
  float: left;
}

li1 a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #3D4F49;
}
/* Change the link color to #111 (black) on hover */

.active {
  background-color:#63b699;
}

.info-nav-ul{
  list-style-type: none;
  position: sticky;
  margin-right: 20px;
  padding: 0;
  margin-top: 0em;
  width: auto;
  background-color: #f1f1f1;
  float: left;
}

li a:hover {
 background-color:#ffc266;
}

li a {
  display: block;
  text-align: left;
  padding: 8px 10px;
  text-decoration: none;
  color: #3D4F49;
}

.info-inhalt {
  margin: 0;
  padding: 10;
  position: static;
  text-align: justify;
}

.info-inhalt p{
  display: block;
  margin-top: 0em;
  margin-bottom: 1em;
  margin-left: 50;
  margin-right: 10;
  background-color: #fff2e6;
}
