* {
    font-family: arial;
    font-weight: normal;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fcfcfc;
}

.body-wrapper {
  display: grid;
  grid-template-rows: 30em 60em 60em;
  padding-top: 30px;
  margin-top: 60px;
}

.info-container{
  padding-top: 130px;
  margin-top: 50px;
  grid-column:1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 20em 50em;
  grid-gap: 1em;
}

.berechnen-container{
  padding-top: 100px;
  margin-top: 60px;
  margin-left: 2em;
  grid-column: 1;
  grid-row-start: 2;
  display: grid;
  align-content: center;
  grid-template-columns: 15em 15em 30em 23em;
  grid-gap: 10px;
}


.ergebnis-container{
  padding-top: 160px;
  margin-top: 30px;
  grid-column: 1;
  grid-row: 3;
  display: grid;
  grid-template-columns: 40em 40em;

}


body {
    background-color: #fcfcfc;
    background-blend-mode: darken;
    margin: 0;
}

h1 {
    color: #25A079;
}

h2 {
    color: #25A079;
}

h3 {
    color: #25A079;
}

h4 {
    color: #1f1f1f;
    margin-left: 2em;
}

.person-daten p {
    color: #1f1f1f;
    font-size: 14px;
}

.main-nav-ul {
    list-style-type: none;
    border-style: none none solid;
    color: #3D4F49;
    width: 100%;
    border-color: #A8D6C6;
    overflow: hidden;
}

.link-btn:hover, li a:hover{
  background-color: #ecf9f2;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.link-btn a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #3D4F49;
}

.link-btn  {
    float: left;
    background-color:#fcfcfc;
    border:none;

}

.info-nav-ul {
    margin-left: 1em;
    margin-right: 2em;
    padding: 0;
    grid-column: 1;
    list-style-type: none;
    background-color: #c6ecd9;
}

li a {
    display: block;
    text-align: left;
    padding: 8px 10px;
    text-decoration: none;
    color: #3D4F49;
}

.info-inhalt {
    grid-column: 2;
    padding: 10em;
    width: 40em;
    height: 80em;
}

  .info-inhalt p {
      font-size: 16px;
      display: block;
  }

.person-daten {
    height: 25em;
    background-color: #e7b1c3;
    background-blend-mode: lighten;
    border-radius: 1em;
    padding-left:10px;
}

.person-daten select {
    width: 10em;
    margin-left: 10px;
    padding: 7px 14px;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
    margin-bottom: 1.5em;
}

input {
    margin-left: 1em;
    margin-bottom: 10px;
    width: 8em;
    height: 18px;
    border-style: none;
    border-radius: 5px;
    padding:2px;
    padding-left: 2px;
}

.zeit-daten {
    height: 14em;
    width: 10em;
    margin-left: 1em;
    border: none;
    border-radius: 1em;
    background-color: #edc5d2;
}


.zeit-daten p {
    font-size: 14px;
    margin-left: 1em;
}

.drinks-daten-container {
    border: none;
    padding: 10px;
    border-radius: 1em;
    background-color: #f3d8e1;
    display: grid;
    grid-template-rows: 3em 15em;
    height: 30em;
    overflow-y: scroll;
}

.drinks-header {
    margin-left: 10em;
    grid-column: 1;
    grid-row: 1;
}

.drinks-listen-container {
  grid-column: 1;
  grid-row: 2;
  margin-left: 1em;
  margin-right: 1em;
  display: grid;
  grid-template-rows: 10em 5em;
  grid-row-start: inherit;
  grid-gap: 8px;
}

.input-dialog{
  grid-row: 1;
  grid-column: 4;
  border-radius: 10px;
  margin-left: 2em;
  display:grid;
  grid-template-rows: 5em 13em;
}
.plusGetraenk-container {
  background-color: #ffcccc;
  grid-column: 1;
  grid-row: 1;
  padding-left: 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.submit-dialog {
  padding-top:1em;
  grid-column: 1;
  grid-row: 2;
  padding-left: 1em;
  padding-bottom: 2em;
  background-color: #ffe6e6;
  border-top: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;

}

.drinks-liste-container{
  display: grid;
  grid-template-rows: 20px 8em;
}

#getraenkNr{
  margin: 10px;
  grid-column: 1;
  grid-row: 1;
}
.mengen-container{
  margin: 10px;
  display: grid;
  grid-template-columns: 3em 5em 5em;

}
.menge-label{
  grid-column: 1;
  grid-row: 1;
}

.menge-container {
  grid-column: 2;
  grid-row: 1;
  width: 4em;
  height: 18px;
}

.metrik-container {
  grid-column: 3;
  grid-row: 1;
  width: 6em;
  height: 20px;
  margin-left: 1em;
  border: none;
  border-radius: 2px;
  background-color: #ffffff;
}



#getraenkeListe {
    margin: 10px;
    height: 10em;
}

#checkBoxLabel {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

#checkDisclaimar{
  padding-top: 2px;
  width: 13px;
  border: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

#plusGetraenk{
  margin-top: 1em;
}

#berechneDaten{
  margin-top: 10px;
}
.input-button {
  height: 3em;
  width: 100px;
  border-radius: 7px;
  font-size: 16px;
  background-color: #666666;
  border-style: none;
  color:  #ffffff;
}

button a{
  border-style: none;
  color:  #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
}

.input-button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.chart1{
  background-color: #333333;
  border-color:  #f2e6d9;
  border-radius: 1em;
  width:30em;
  height:20em;
  margin:2em;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.chart1 circle {
  fill: #ddd;
  stroke: #ff8080;
  stroke-width: 100;
  stroke-dasharray: 0 158;
  transition: stroke-dasharray .3s ease;
}

.chart1 svg {
  margin: 0 auto;
  transform: rotate(-90deg);
  background: #ddd;
  border-radius: 50%;
  display: block;
}

.buttons {
  margin-bottom: 30px;
}

button {
  text-transform: capitalize;
  font-size: 13px;
  cursor: pointer;
  border: none;
  margin-right: 5px;
  background-color: transparent;
  padding: 5px 10px;
  outline: none;
  border-radius: 2px;
  transition: background-color .1s ease, color .2s ease;
  color: 	 #ffffff;

  &:last-of-type {
    margin-right: 0;
  }
}
  .active {
    font-weight: 400;
    background-color:	 #ff8080;
    color: 	 #333333;

  }


.chart1 figcaption {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.chart2{
  background-color:  #ffcccc;
  border-color:  #f2e6d9;
  border-radius: 1em;
  width:40em;
  height:10em;
  margin-top: 2em;
  padding: 20px;
}
.chart2 figure{
  margin-left: 1em;
}

.table1 table{
  background-color: #ffe6e6;
  border-color:  #f2e6d9;
  border-radius: 1em;
  width:45em;
  height:10em;
  padding: 20px;
}

table th{
  background-color: #333333;
  margin: 10px;
  padding: 10px;
  color: #ffffff;
}

table td{
  background-color: hsla(0, 100%, 100%, 0.5);
}

.chart2 a{
 text-decoration: none;
 weight: bold;
 font-style: italic;
 color: #333333;

}

.chart2 figcaption {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #333333;
}

g text {
  padding: 10px;
  color: #333333;
  weight:bold;
  font-size: 20px;
}

.chart3{
  margin:2em;
}
